/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31.1.2015, 0:02:49
    Author     : Maticb
*/

table{
    border-collapse: collapse;
    width:100%;
}
table,table td{
    border: 1px solid grey;
}
table tr:nth-child(odd) td:nth-child(even){
    background-color: black;
}
table tr:nth-child(even) td:nth-child(odd){
    background-color: black;
}

table tr img{
    margin-left:auto;
    margin-right:auto;
}

#menu
{
    z-index:-20;
    display: none;
    position:  fixed;
    bottom: 0px;
    left:0px;
    width:100%;
    height:150px;
}


#menu ul{
    list-style-type: none;
}
#menu li{
    display:block;
    width:80%;
    height:50%;
    margin-left:auto;
    margin-right:auto;

    text-align: center;


    background: #8f8f8f;
    background-image: -webkit-linear-gradient(top, #8f8f8f, #aaacad);
    background-image: -moz-linear-gradient(top, #8f8f8f, #aaacad);
    background-image: -ms-linear-gradient(top, #8f8f8f, #aaacad);
    background-image: -o-linear-gradient(top, #8f8f8f, #aaacad);
    background-image: linear-gradient(to bottom, #8f8f8f, #aaacad);
    color: #ffffff;
    text-decoration: none;

}
#menu li:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;


}
#menu ul li a{
    display:inline;
    color: #ffffff;
    margin:0;
    text-decoration: none;
    font-size:30px;

}


.beli{
    display:block;
    background: url("../imgs/beli.png") no-repeat center center;

}


#na_vrsti_je{
    color:grey;
    display:block;
    position:fixed;
    top:0;
    left:0;
}